body{
    margin: 0;
    font-family: sans-serif;
}
.Nav-bar{
    background-color: rgb(248, 249, 233);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.Name{
    font-family:  sans-serif;
    color: #38878a;
    font-size: larger;
}

.content{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 822px;
}

.inputButton,
.clickBtn{
    background-color: rgb(244, 244, 244);
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1;
}
:hover.inputButton,
:hover.clickBtn{   
    font-size: 16px;
}

.backgroundColor{
    display: flex;
    flex-wrap: wrap;
}