@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
   font-family: "Roboto", sans-serif; 
   margin: 0;
   background-color: antiquewhite;

}

.header{
   background-color: #e46034;
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 50px min(5px);
   padding-left: 300px;
   padding-right: 300px;
   margin: 60px 60px 0px 60px;
   border-radius: 30px 30px 0 0;
}

.header-links{
    display: flex;
    gap: 15px;
}


.header-left{
    color: #F9FAF8;
    font-size: 24px;
}

a{
    color: #eadfdf;
    text-decoration: none;
}

b{
    color: #F9FAF8;
}

.header-right{
    color: #F9FAF8;
    font-size: 18px;
}

.body{
    background-color: #e46034;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 100px;
    margin: 0px 60px 0px 60px;
    

}

.title{
    color: #F9FAF8;
    font-size: 200px;
    background-color: #e46034;
    margin: 0px 60px 0px 60px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.body-text{
    width: 450px;
    display: flexs;
    
}

.body-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 15px min(5px);
    
}

.body-subtext{
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 15px;
}

.sign-up{
    background-color: #eadfdf;
    border: none;
    padding: 8px;
    width: 90px;
    border-radius: 4px;
    color: #e46034;
    font-weight: bold;
}

.placeholder{
    height: 250px;
    width: 600px;
    background-color: #d4aaa6;
    color: #af4c2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 600px;
    border-radius: 20px;
}

.body-two{
   background-color: #eadfdf;
}

li{
    list-style: none;
}

c{
    color: #e46034;
    font-weight: 500;
    font-size: 18px;
}

.services{
    margin: 0px 60px 0px 60px;
    padding: 20px 20px 20px 20px;
    padding-bottom: 60px;
    border: #e46034 2px solid;
    display: flex;
    flex-direction: column;
}

.card
img{
    width: 300px;
    
}
 .services-cards{
    display: flex;;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 .card{
    width: 300px;
    padding-top: 10px;
 }

 h2{
    color: #e46034;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
 }

 .quote-container{
    background-color: #e46034;
    color: #F9FAF8;
    padding: 20px 20px 20px 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 30px;
    font-style: italic;
    margin: 0px 60px 0px 60px;
     
 }

 .CTA{
    border: #e46034 2px solid;
    padding: 20px 20px 20px 20px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 60px 0px 60px;
    border: #e46034 2px solid;
    border-radius: 0px 0px 30px 30px;

 }

 .CTA-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #e46034 3px solid;
    border-radius: 14px;
    padding: 30px;
    width: 800px;
 }

    .cta-title{
        color: #e46034;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    .cta-subtext{
        color: #e46034;
        font-size: 18px;
        margin: 0;
    }

    .sign-up-now{
        border: none;
        width: 90px;
        border-radius: 4px;
        margin-top: 20px;
        height: 35px;
        background-color: #e46034;
    }

    f{
        color: #F9FAF8;
    }

    .footer{
       
        color: #e46034;
        padding: 20px 20px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 60px 0px 60px;
        height: 50px;
        
    }

   